<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>
<body>

<a class="btn btn-primary">Test</a>
Đối tượng "Chuồng"
ID chuồng
Loại chuồng (ví dụ: chuồng nuôi heo nái, chuồng nuôi heo đực, vv.)
Sức chứa (số lượng lợn tối đa có thể nuôi trong chuồng)
Đối tượng "Lợn"
ID lợn
Tên lợn
Trọng lượng
Tuổi
Giới tính
Chuồng hiện tại (chuồng mà lợn đang được nuôi)
Yêu cầu chức năng cơ bản:
Quản lý chuồng lợn:
Tạo mới chuồng lợn.
Hiển thị danh sách các chuồng lợn có sẵn.
Xem chi tiết thông tin của một chuồng lợn cụ thể.
Cập nhật thông tin của chuồng lợn.
Xóa chuồng lợn khỏi hệ thống.
Quản lý lợn:
Tạo mới thông tin về lợn và gán vào một chuồng lợn.
Hiển thị danh sách các lợn trong hệ thống.
Xem chi tiết thông tin của một con lợn cụ thể.
Chuyển lợn từ chuồng này sang chuồng khác (nếu có).
Tính năng bổ sung (tuỳ chọn):
Tính năng tìm kiếm lợn theo tuổi, trọng lượng, giới tính.
Thống kê tổng số lợn theo giới tính, theo tuổi, vv.
Xác định chuồng nào còn chỗ trống để thêm lợn mới.
</body>
</html>